<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>

<main role="main">
    <div class="container-fluid bg-light p-4">
        <div class="container">
            <div class="row my-3">
                <div class="col-md-10"></div>
                <div class="col-md-2 text-end">
                    <h4>
                        <a class="d-inline me-2 text-dark" style="text-decoration: none"
                            th:href="@{/cart/view-cart}"
                        >
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <span class="badge bg-success" th:text="${cartSize}"></span>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"
                     th:each="book : ${books}"
                >
                    <div class="card mb-3">
                        <img class="card-img-top" alt="book-img"
                             th:src="${book.imgUrl}"
                        >
                        <div class="card-body">
                            <p class="lead card-title"
                               th:text="${book.title}"
                            ></p>
                            <p class="lead card-text"
                               th:text="${'Written by' + book.author.authorName}"
                            ></p>
                            <p class="lead">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quae.
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <span th:text="${'$' + book.price}"></span>
                                <a class="btn-link"
                                   th:href="@{'/cart/add-cart?id=' + ${book.id} + '&isbn=' +
                                   ${book.isbn} + '&page=bookList'}"
                                >Cart</a>
                                <a class="btn-link"
                                   th:href="@{'/book/book-details?id=' + ${book.id} + '&isbn=' +
                                   ${book.isbn}}"
                                ><i>Details</i></a>
                                <span th:text="${book.publisher.publisherName}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>