<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>

<main role="main">
    <div class="container-fluid bg-light">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <form method="post"
                          th:object="${cartItem}"
                          th:action="@{/cart/checkout}"
                    >
                        <div class="card shadow p-5">
                            <table class="table table-striped"
                                   th:if="${!cartItems.isEmpty()}"
                            >
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>ISBN</th>
                                    <th>Title</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${cartItems}">
                                    <td th:text="${item.id}"></td>
                                    <td th:text="${item.isbn}"></td>
                                    <td th:text="${item.title}"></td>
                                    <td><input class="form-control" type="text"
                                        th:field="*{cartItemQuantity}"
                                    ></td>
                                    <td th:text="${'$' + item.price}"></td>
                                    <td><a class="btn btn-outline-danger"
                                           th:href="@{'/cart/delete?id=' + ${item.id} + '&isbn=' + ${item.isbn}}"
                                    >Delete</a></td>
                                </tr>
                                </tbody>
                            </table>
                            <div th:if="${cartItems.isEmpty()}">
                                <h4 class="text-center text-muted">No Content</h4>
                            </div>
                            <div>
                                <button class="btn btn-outline-primary me-2" type="submit"
                                   th:if="${!cartItems.isEmpty()}"
                                >Checkout</button>
                                <a class="btn btn-outline-secondary me-2"
                                   th:href="@{/book/list-books}"
                                >Continue Shopping</a>
                                <a class="btn btn-outline-danger me-2"
                                   th:if="${!cartItems.isEmpty()}"
                                   th:href="@{/cart/clear-cart}"
                                >Clear Cart</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>